{% extends 'base.html' %}
{% block content %}

<h1>Sneaker Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ sneaker.name }}</span>
        <p>Year Released: {{ sneaker.year }}</p>
        <p>Designed By: {{ sneaker.designer }}</p>

      </div>
    </div>
  </div>
  <div class="col s6">

    <form action="{% url 'add_wearing' sneaker.id %}" method="POST">
      {% comment %} Cross Site Request Forgery token {% endcomment %}
      {% csrf_token %}
      {{ wearing_form.as_p }}
      <input type="submit" class="btn" value="Wear Your Sneakers" />
    </form>

    {% comment %} 
      Display a notification if the sneaker has been 
      worn for the week or not 
    {% endcomment %}
    <br>

    {% if sneaker.wore_for_week %}
      <div class="card-panel teal-text center-align">{{sneaker.name}} has been worn at least once this week</div>
    {% else %}
<!--       <div class="card-panel red-text center-align">{{sneaker.name}} might be dusty</div>
    {% endif %} -->


    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Occasion Worn</th></tr>
      </thead>
      <tbody>
        {% for wearing in sneaker.wearing_set.all %}
          <tr>
            <td>{{wearing.date}}</td>
            <td>{{wearing.get_wear_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% comment %} Markup for displaying associated boxes {% endcomment %}
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ sneaker.name }} Boxes</h3>
    {% if sneaker.boxes.count %}
      {% for box in sneaker.boxes.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span style="color: {{ box.color }}">{{ box.color }}</span> {{ box.name }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Box :(</h5>
    {% endif %}
  </div>
  <!-- Available toys will come after this line -->
  <div class="col s6">
    <h3>Available Boxes</h3>
    {% if boxes.count %}
      {% for box in boxes.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span style="color: {{ box.color }}">{{ box.color }}</span> {{ box.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_box' sneaker.id box.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{sneaker.name}} Has Boxes</h5>
    {% endif %}
  </div>
</div>


<script>
  let dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  let selectEl = document.getElementById('id_wear');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}